@use '../base' as *;

/* -------------------------------- 

File#: _1_main-footer-v3
Title: Main Footer v3
Descr: Footer navigation template
Usage: codyhouse.co/license

-------------------------------- */

.footer-v3 {
  position: relative;
  z-index: 1;

  & hr {
    max-width: 500px;
  }
}

.footer-v3__logo {
  a,
  svg,
  img {
    width: 104px; // logo width
    // height: 30px; // logo height
    display: block;
  }
}

.footer-v3__nav {
  margin: var(--space-lg) 0 var(--space-xs) 0;
}

.footer-v3__nav-item {
  margin-bottom: var(--space-sm);

  a {
    color: var(--color-contrast-high);
    font-size: 1.25em;
    margin: 0 var(--space-md);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.footer-v3__nav-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
