:root,
[data-theme='default'] {
  // main
  @include defineColorHSL(--color-primary-darker, 0, 0%, 0%);
  @include defineColorHSL(--color-primary-dark, 0, 0%, 6%);
  @include defineColorHSL(--color-primary, 0, 0%, 13%);
  @include defineColorHSL(--color-primary-light, 0, 0%, 23%);
  @include defineColorHSL(--color-primary-lighter, 0, 0%, 33%);

  @include defineColorHSL(--color-accent-darker, 268, 43%, 52%);
  @include defineColorHSL(--color-accent-dark, 268, 43%, 62%);
  @include defineColorHSL(--color-accent, 268, 43%, 72%);
  @include defineColorHSL(--color-accent-light, 268, 43%, 82%);
  @include defineColorHSL(--color-accent-lighter, 268, 43%, 92%);

  @include defineColorHSL(--color-black, 0, 82%, 2%);
  @include defineColorHSL(--color-white, 0, 0%, 90%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 48, 100%, 50%);
  @include defineColorHSL(--color-warning-dark, 48, 100%, 60%);
  @include defineColorHSL(--color-warning, 48, 100%, 70%);
  @include defineColorHSL(--color-warning-light, 48, 100%, 80%);
  @include defineColorHSL(--color-warning-lighter, 48, 100%, 90%);

  @include defineColorHSL(--color-success-darker, 74, 65%, 60%);
  @include defineColorHSL(--color-success-dark, 74, 65%, 70%);
  @include defineColorHSL(--color-success, 74, 65%, 80%);
  @include defineColorHSL(--color-success-light, 74, 65%, 90%);
  @include defineColorHSL(--color-success-lighter, 74, 65%, 100%);

  @include defineColorHSL(--color-error-darker, 0, 51%, 4%);
  @include defineColorHSL(--color-error-dark, 0, 51%, 14%);
  @include defineColorHSL(--color-error, 0, 51%, 24%);
  @include defineColorHSL(--color-error-light, 0, 51%, 34%);
  @include defineColorHSL(--color-error-lighter, 0, 51%, 44%);

  // background
  @include defineColorHSL(--color-bg-darker, 0, 0%, 6%);
  @include defineColorHSL(--color-bg-dark, 0, 0%, 9%);
  @include defineColorHSL(--color-bg, 0, 0%, 13%);
  @include defineColorHSL(--color-bg-light, 0, 0%, 17%);
  @include defineColorHSL(--color-bg-lighter, 0, 0%, 20%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 0, 0%, 23%);
  @include defineColorHSL(--color-contrast-low, 0, 0%, 37%);
  @include defineColorHSL(--color-contrast-medium, 0, 0%, 52%);
  @include defineColorHSL(--color-contrast-high, 0, 0%, 75%);
  @include defineColorHSL(--color-contrast-higher, 0, 0%, 90%);

  // gradients
  @include defineColorHSL(--gradient-primary-stop-1, 0, 0%, 13%);
  @include defineColorHSL(--gradient-primary-stop-2, 50, 0%, 13%);
}

body,
[data-theme='default'] {
  // font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// background gradient
.bg-gradient-primary {
  background-image: radial-gradient(
    var(--gradient-primary-stop-1),
    var(--gradient-primary-stop-2)
  );
}
.bg-gradient-primary-top {
  background-image: linear-gradient(
    0deg,
    var(--gradient-primary-stop-1),
    var(--gradient-primary-stop-2)
  );
}
.bg-gradient-primary-right {
  background-image: linear-gradient(
    90deg,
    var(--gradient-primary-stop-1),
    var(--gradient-primary-stop-2)
  );
}
.bg-gradient-primary-bottom {
  background-image: linear-gradient(
    180deg,
    var(--gradient-primary-stop-1),
    var(--gradient-primary-stop-2)
  );
}
.bg-gradient-primary-left {
  background-image: linear-gradient(
    270deg,
    var(--gradient-primary-stop-1),
    var(--gradient-primary-stop-2)
  );
}

// border gradient
.border-gradient-primary {
  border-image: radial-gradient(
      var(--gradient-primary-stop-1),
      var(--gradient-primary-stop-2)
    )
    1;
}
.border-gradient-primary-top {
  border-image: linear-gradient(
      0deg,
      var(--gradient-primary-stop-1),
      var(--gradient-primary-stop-2)
    )
    1;
}
.border-gradient-primary-right {
  border-image: linear-gradient(
      90deg,
      var(--gradient-primary-stop-1),
      var(--gradient-primary-stop-2)
    )
    1;
}
.border-gradient-primary-bottom {
  border-image: linear-gradient(
      180deg,
      var(--gradient-primary-stop-1),
      var(--gradient-primary-stop-2)
    )
    1;
}
.border-gradient-primary-left {
  border-image: linear-gradient(
      270deg,
      var(--gradient-primary-stop-1),
      var(--gradient-primary-stop-2)
    )
    1;
}
